{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>LINKIN PARK!</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas, voluptatem eaque enim dolorem distinctio possimus illo voluptatibus ratione provident dignissimos voluptatum sed at soluta eligendi ab incidunt mollitia a?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}